.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  /* text-align: center; */
}
.home{
  display: flex;
  justify-content: center;
  /* flex-direction: column;
  align-items: center; */
  flex-wrap: wrap;
  padding: 20px;
  margin: 20px;

}
.main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 70%;
  color:red;
  margin: 20px;
  border:1px solid black;
  padding: 20px;
}
.header-home{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid  rgb(243, 182, 182);
 width: 20%;
 display: flex;
 padding: 20px;
}
.footer-home{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  border: 4px solid black;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
